{% extends 'base.html' %} {% block content %}
<section
  style="
    background: -webkit-linear-gradient(
      135deg,
      #3282b8 0%,
      #e6255d 100%,
      #7db9e8 100%
    );
  "
>
  <div id="divToShowHide" class="BeforeScroll"></div>

  <div class="toptexts2 BeforeScroll" id="toptexts2">
    <div><h1>What is JEEGNAN?</h1></div>
  </div>
  <div class="toptexts2 BeforeScroll" id="toptexts2">
    <div>
      <div><h1>What is JEEGNAN?</h1></div>

      <p style="font-size: 20px; text-align: center;">
        JEE stands for the joint Entrance Examination conducted for admission to
        various reputed engineering colleges in India. And gnan for Knowledge.
        <br />
        It also sounds like the word "Jignasa" which means curiosity to know
        about things.
      </p>
    </div>
  </div>

  <div class="toptexts2 BeforeScroll" id="toptexts2">
    <div><h1>Inside JEEGNAN</h1></div>
  </div>
  <div class="toptexts2 BeforeScroll" id="toptexts2">
    <div>
      <p style="font-size: 20px; text-align: center;">
        JEE GNAN is a team of students studying at various IITs, NITs, IIITs and
        many other prestigious Indian Engineering Institutes.We are so
        Passionate and excited to teach and prepare students for JEE Mains , JEE
        Advanced , NEET and other competitive examinations. Being students, we
        all have struggled and faced many problems and struggles one should go
        through to get into a good engineering college. And we want to share our
        tons of experiences, tips , suggestions and many other good things so
        that you could do a little more better in all your examinations and get
        into the colleges you deserve to study at.
      </p>
    </div>
  </div>
  <div class="toptexts2 BeforeScroll" id="toptexts2">
    <div><h1>Why JEEGNAN??</h1></div>
  </div>
  <div class="toptexts2 BeforeScroll" id="toptexts2">
    <div>
      <p style="font-size: 20px; text-align: center;">
        JEEGNAN works with a different ideology in teaching-learning process. We
        are students(who completed this level) for the students (aspirants) and
        we not only teach you for but guide you in seat allocation counselling.
        Learning from your ages would give you great enthusiasm.
      </p>
    </div>
  </div>

  <div class="toptexts2 BeforeScroll" id="toptexts2">
    <div><h1>How does JEEGNAN work??</h1></div>
  </div>
  <div class="toptexts2 BeforeScroll" id="toptexts2">
    <div>
      <p style="font-size: 20px; text-align: center;">
        We are a large community of students and we teach all the topics of the
        Intermediate Syllabus. Each topic is taught by an individual tutor who
        is good at that particular topic. We upload our videos regularly on our
        youtube channel. We also give live classes on some topics. Go through
        all of them and give your valuable feedback. We will be so happy to
        answer the doubts and queries you ask in the comment box. Also do not
        forget to write the mock tests in our website and improve your
        performance in writing online exams.
      </p>
    </div>
  </div>
</section>
{% endblock %}
